<p>
  <strong>Student's First Name:</strong>
  <%= @registration.studentfirstname %>
</p>
 
<p>
  <strong>Student's Last Name:</strong>
  <%= @registration.studentlastname %>
</p>

<p>
  <strong>School:</strong>
  <%= @registration.school %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @registration.grade %>
</p>

<p>
  <strong>Student's Birthday:</strong>
  <%= @registration.birthday %>
</p>

<p>
  <strong>Home Phone Number:</strong>
  <%= @registration.homephone %>
</p>

<p>
  <strong>House Number:</strong>
  <%= @registration.housenumber %>
</p>

<p>
  <strong>Street:</strong>
  <%= @registration.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @registration.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @registration.province %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @registration.postcode %>
</p>

<p>
  <strong>Mother's First Name:</strong>
  <%= @registration.motherfirstname %>
</p>

<p>
  <strong>Mother's Last Name:</strong>
  <%= @registration.motherlastname %>
</p>

<p>
  <strong>Mother's Email Address:</strong>
  <%= @registration.motheremail %>
</p>

<p>
  <strong>Mother's Mobile Phone:</strong>
  <%= @registration.mothercell %>
</p>

<p>
  <strong>Father's First Name:</strong>
  <%= @registration.fatherfirstname %>
</p>

<p>
  <strong>Father's Last Name:</strong>
  <%= @registration.fatherlastname %>
</p>

<p>
  <strong>Father's Email Address:</strong>
  <%= @registration.fatheremail %>
</p>

<p>
  <strong>Father's Mobile Phone:</strong>
  <%= @registration.fathercell %>
</p>

<p>
  <strong>Emergency Contact's First Name:</strong>
  <%= @registration.emergfirstname %>
</p>

<p>
  <strong>Emergency Contact's Last Name:</strong>
  <%= @registration.emerglastname %>
</p>

<p>
  <strong>Emergency Contact's Relationship to Student:</strong>
  <%= @registration.emergrelation %>
</p>

<p>
  <strong>Emergency Contact's Phone Number:</strong>
  <%= @registration.emergphone %>
</p>